<div class="post-new">
    <div class="post-title">
      <h1>新規投稿</h1>
    </div>
  <div class="post-error">
    <% if @post.errors.any? %>
      <%= @post.errors.count %> 件のエラーが発生しました
      <ul>
        <% @post.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    <% end %>
  </div>
  <%= form_with model: @post, url: posts_path, method: :post do |f| %>
    <div class="new-title">title</div>
    <div class="new-title-field"><%= f.text_field :title %></div>
    <div class="new-text">本文</div>
    <div class="new-text-field"><%= f.text_area :text %></div>
    <div class="post-button"><%= f.submit "投稿確定！" %></div>
  <% end %>
</div>
