<h1>新規投稿</h1>
<%= form_with model: @post, url: posts_path, method: :post do |f| %>
  <table>
    <tbody>
      <tr>
        <th>title</th>
        <td><%= f.text_field :title %></td>
      </tr>
      <tr>
        <th>本文</th>
        <td><%= f.text_field :text %></td>
      </tr>
      <tr>
        <th>投稿ジャンル</th>
        <td><%= f.collection_select :genre_id, Genre.all, :id, :genre_name, include_blank: "-- 選択してください --" %></td>
      </tr>
    </tbody>
  </table>
  <%= f.submit "投稿確定！" %>
<% end %>
