<h1>TOP</h1>
<h3>新着投稿</h3>
<table>
    <thead>
        <tr>
            <th>ニックネーム</th>
            <th>タイトル</th>
        </tr>
    </thead>
    <tbody>
        <% @posts.each do |post| %>
        <tr>
            <td><%= link_to post.members.name, member_path(post.members.id) %></td>
            <td><%= link_to post.title, post_path(post.id) %></td>
        </tr>
        <% end %>
    </tbody>
</table>
<%= link_to "投稿する", new_post_path %>
<%= link_to "新規登録", new_member_registration_path %>
<%= link_to "ログイン", new_member_session_path %>
