<h1>マイページ</h1>
<%= link_to "自分のプロフィール編集", edit_member_path(@member.id) %>
<table>
  <tbody>
    <tr>
      <th>ニックネーム</th>
      <td><%= @member.member_name %></td>
    </tr>
    <tr>
      <th>メールアドレス</th>
      <td><%= @member.email %></td>
    </tr>
    <tr>
      <th>年齢</th>
      <td><%= @member.age %></td>
    </tr>
    <tr>
      <th>性別</th>
      <td><%= @member.gender %></td>
    </tr>
    <tr>
      <th>投稿数</th>
      <td><%= @member.posts.count %></td>
    </tr>
    <tr>
      <th>コメント投稿数</th>
      <td><%= @member.comments.count %></td>
    </tr>
  </tbody>
</table>
<%= link_to "お気に入り一覧", favorite_member_path(@member.id) %>
<%= link_to "投稿履歴", posts_my_posts_path %>
<%= link_to "投稿する", new_post_path %>