<!DOCTYPE html>
<html>
  <head>
    <title>BabyCare</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <%= link_to "Baby Care", root_path %>
      <% if member_signed_in? %>
      
        <%= link_to member_path(current_member.id) do %>
        マイページ
        <% end %>
        
        <%= link_to about_path do %>
        About
        <% end %>
        
        <%= link_to posts_path do %>
        全ての投稿一覧
        <% end %>
        
        <%= link_to destroy_member_session, method: :delete do %>
        ログアウト
        <% end %>
        
        <% elsif admin_signed_in? %>
        
        <%= link_to admin_members_path do %>
        ユーザー一覧
        <% end %>
        
        <%= link_to admin_posts_path do %>
        投稿一覧
        <% end %>
        
        <%= link_to destroy_admin_session_path, method: :delete do %>
        ログアウト
        <% end %>
        
        <% else %>
        <%= link_to new_member_registration_path do %>
        新規登録
        <% end %>
        
        <%= link_to new_member_session_path do %>
        ログイン
        <% end %>
        
        <%= link_to about_path do %>
        About
        <% end %>
        
        <%= link_to posts_path do %>
        投稿一覧
        <% end %>
      <% end %>
    </header>
    <%= yield %>
  </body>
</html>
